* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #cccccc;
  font-family: 'Montserrat', sans-serif;
}
.encabezado{
    background-color:rgb(07, 37, 63) ;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    text-shadow: 5px 5px 5px #ccc;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes aparecer{
  0%{opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.menu{
  background-color: #cccccc;
  font-family: arial;
  list-style: none;
  padding: 0%;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.menu li a {
  text-decoration: none;
  color: rgb(07, 37, 63);
  padding: 20px;
  display: block;
}
.menu li {
  display: inline-block;
  text-align: center;
}

.subtitulo {
  text-align: center;
  color: rgb(07, 37, 63);
  font-size: 16px;
  margin-bottom: 32px;
}
.razon--social {
  color:  rgb(07, 37, 63);
  text-align: center;
}
.mail--empresa {
  color:  rgb(07, 37, 63);
  text-align: center;
}
.tituloproductos {
  text-align: center;
  color: white;
  background-color: rgb(07, 37, 63);
}
.potescomunes {
  text-align: center;
}
.potesfacetados {
  text-align: center;
}
.vasos {
  text-align: center;
}
ul li {
  color: rgb(07, 37, 63);
  text-align: center;
}
.imagen {
  width: 100px;
  height: 100px;
}

.imagenes--contenedor {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.seccion{
    padding-top: 60px;
    padding-bottom: 60px;
}

.contenedor{
    max-width: 1300px;
    margin: auto;
}
.principal-componente{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.principal-izquierda{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 40%;
}
.principal-derecha{
    max-width: 60%;
    transform:rotate(5deg);
    transition:  height 2s, width 0.5s;
    
}
.principal-derecha:active{
  height: 200px;
  width: 800px;
}
.titulo{
    margin-bottom: 24px;
}
.parrafo{
    margin-bottom: 32px;
}
.titulo-2{
font-size: 48px;
line-height: 58px;
font-weight: 700;
}
.parrafo-1{
    font-size:20px;
    line-height:32px ;
    font-weight: 400;
}
.imagen--derecha{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    align-items:right ;
    
    
}
.imagen--izquierda{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 60%;
   
 
}
.segunda--imagen{
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 60%;
}

.imagenes--componente{
    flex:auto;
}